@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #080808;
  text-transform: uppercase;
}

.active {
  color: #929292;
}

ul,
li {
  list-style: none;
}

.topArrow {
  background-color: #080808;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -3rem;
  bottom: 5rem;
  z-index: 4;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  margin-top: 1rem;
  margin-inline: 4rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

@media (max-width: 2500px) {
  html {
    font-size: 25px;
  }
}
@media (max-width: 2000px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 1800px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  body {
    margin-inline: 3rem;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 10px;
  }
  body {
    margin-inline: 2rem;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 8px;
  }
}
header {
  width: 90dvw;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: white;
}
header .logo {
  width: 8rem;
  display: flex;
  align-items: center;
}
header .logo img {
  width: 100%;
}

nav {
  position: absolute;
  left: 0;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
nav ul a {
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.1rem;
  transition: 0.2s ease-in-out;
}
nav ul a:hover {
  color: #929292;
}

.cart-acount {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 12px;
  line-height: 1rem;
  font-weight: 700;
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
}
.cart-acount .cartContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.cart-acount .cartContainer p {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.cart-acount .cartItems {
  position: absolute;
  right: 0;
  bottom: -4rem;
  width: 12rem;
  height: 4rem;
  z-index: 20;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #080808;
  color: white;
  justify-content: center;
  display: none;
}
.cart-acount .cartItems p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #929292;
  text-transform: capitalize;
}
.cart-acount .cartContainer:hover .cartItems {
  display: flex;
}
.cart-acount .wishlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-acount .wishlist svg {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}
.cart-acount .acountContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.cart-acount .acountContainer a {
  transition: 0.2s ease-in-out;
}
.cart-acount .acountContainer:hover {
  color: #929292;
}
.cart-acount .acountContainer:hover a {
  color: #929292;
}

.sideMenuIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  display: none;
  position: absolute;
  right: 1rem;
}
.sideMenuIcon a {
  display: flex;
}
.sideMenuIcon p {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.sideMenuIcon svg {
  cursor: pointer;
  font-size: 1.5rem;
}

.SideMenu {
  width: 70vw;
  height: 110vh;
  position: absolute;
  right: -4rem;
  top: -1rem;
  z-index: 10;
  background-color: #080808;
  position: fixed;
  transition: 0.5s ease-in-out;
  flex-direction: column;
}
.SideMenu .xmark {
  color: white;
  margin-top: 5rem;
  position: relative;
  right: -70%;
  width: 1.5rem;
  height: 1.5rem;
}
.SideMenu .SideLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 5rem;
}
.SideMenu .SideLinks li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.SideMenu .SideLinks li a {
  color: #929292;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.SideMenu .SideLinks li a.active {
  color: white;
}
.SideMenu .SideLinks li p {
  color: #929292;
}
.SideMenu .SideLinks li svg {
  color: #929292;
}

.SideMenu.open {
  transform: translateX(-1rem);
  visibility: visible;
}

.SideMenu.close {
  transform: translateX(50rem);
  visibility: hidden;
}

@media (max-width: 1024px) {
  header {
    justify-content: space-between;
  }
  nav {
    display: none;
  }
  .cart-acount {
    display: none;
  }
  .sideMenuIcon {
    display: flex;
  }
}
footer {
  margin-left: 0;
  margin-top: 5rem;
  border-top: 0.4px solid #999;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .menuContainer {
  display: flex;
  gap: 7rem;
}
footer .menuContainer .footerList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .menuContainer .footerList .listHeader {
  font-weight: 700;
  text-transform: uppercase;
  color: #080808;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.2rem;
  transform: translateX(1rem);
}
footer .menuContainer .footerList .footerUl {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
footer .menuContainer .footerList .footerUl li {
  display: flex;
  align-items: center;
  overflow: hidden;
}
footer .menuContainer .footerList .footerUl li a {
  text-transform: capitalize;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #929292;
  transition: 0.4s ease-in-out;
}
footer .menuContainer .footerList .footerUl li svg {
  color: #929292;
  transform: translateX(-1rem);
  transition: 0.4s ease-in-out;
}
footer .menuContainer .footerList .footerUl li:hover {
  transform: translateX(1rem);
}
footer .menuContainer .footerList .footerUl li:hover svg {
  animation: arrow 0.2s;
  transform: translateX(-3px);
}
footer .testimoniel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .testimoniel p {
  color: #929292;
  font-size: 0.7rem;
  text-transform: capitalize;
}
footer .socialMedia {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 0;
}
footer .socialMedia p {
  color: #080808;
}

@keyframes arrow {
  0% {
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0rem);
  }
}
@media (max-width: 1024px) {
  footer {
    gap: 7rem;
  }
  footer .menuContainer {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .footerList {
    width: calc((100% - 3rem) / 2);
  }
  footer .testimoniel {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  footer .menuContainer {
    flex-direction: column;
  }
}
.homePagination {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 243);
}
.homePagination .pagination {
  position: absolute;
  left: -2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.homePagination .pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: #929292;
}
.homePagination .pagination button .line {
  position: absolute;
  z-index: 3;
  width: 1rem;
  height: 3rem;
  height: 0.1rem;
  background-color: #929292;
  transition: linear 0.2s;
  transform: translate(1.5rem, -0.8rem);
}
.homePagination .pagination button .line.active {
  transition: 0.4 linear ease-in-out;
  background-color: #080808;
  width: 3rem;
}
.homePagination .pagination button:hover {
  overflow-x: visible;
  color: #080808;
}
.homePagination .pagination button:hover .line {
  background-color: #080808;
  width: 4rem;
}
.homePagination .pagination button.active {
  color: #080808;
}
.homePagination .pagination button.active .line {
  background-color: #080808;
  width: 4rem;
}

.content {
  width: 100%;
  height: 100%;
}

.paginationContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  padding-inline: 4rem;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.paginationContent .text {
  padding-bottom: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.paginationContent .text h3 {
  color: #080808;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  display: inline-flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.paginationContent .text p {
  font-size: 1rem;
  color: #999;
}
.paginationContent .metalChair {
  height: 100% !important;
}
.paginationContent .metalChair img {
  bottom: 2rem !important;
}
.paginationContent .img {
  position: absolute;
  right: 4rem;
  height: 130%;
  width: 40%;
  display: flex;
  gap: 3rem;
}
.paginationContent .img.lights {
  display: flex;
  height: 90%;
  gap: 2rem;
  top: 0;
  justify-content: space-between;
}
.paginationContent .img.lights img {
  top: -20% !important;
  width: 45%;
  position: relative;
}
.paginationContent .img img {
  position: absolute;
  bottom: -30%;
  height: 100%;
  width: 100%;
}

@keyframes linear {
  0% {
    width: 2rem;
  }
  100% {
    width: 7rem;
  }
}
@media (max-width: 1024px) {
  .homePagination {
    justify-content: center;
  }
  .homePagination .pagination {
    bottom: 1rem;
    left: 50%;
    flex-direction: row;
    z-index: 5;
  }
  .homePagination .pagination button {
    background-color: #080808;
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #080808 !important;
    border-radius: 50%;
    overflow: hidden;
  }
  .homePagination .pagination button.active {
    width: 1rem;
    height: 1rem;
  }
  .homePagination .pagination button .line {
    display: none;
  }
  .paginationContent .metalChair {
    height: 90% !important;
    width: 50%;
    right: 0rem;
  }
  .paginationContent .metalChair img {
    bottom: 2rem !important;
  }
  .paginationContent .lights {
    display: flex;
    height: 90%;
    width: 50%;
    gap: 2rem;
    top: 0;
    right: 0rem;
    justify-content: space-between;
  }
  .paginationContent .lights img {
    top: -20% !important;
    width: 40%;
    position: relative;
  }
  .paginationContent .img {
    right: 1rem;
  }
  .paginationContent .img img {
    right: 0rem;
    bottom: -30%;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .homePagination {
    width: 105dvw;
    height: 70vh;
    position: relative;
    left: -3rem;
  }
  .paginationContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .paginationContent .text {
    width: 100%;
  }
  .paginationContent .img {
    top: 0;
    height: 70%;
    right: 30%;
  }
  .paginationContent .img.lights {
    width: 50%;
    height: 80%;
    right: 20%;
  }
  .paginationContent .img.metalChair {
    height: 70% !important;
    width: 60%;
    top: 0;
    right: 18%;
  }
  .paginationContent .img img {
    top: 0;
  }
}
.routesContainer {
  background-color: #f7f6f6;
  width: 100vw;
  position: relative;
  left: -4rem;
  height: 5rem;
}

.filterBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  position: relative;
}
.filterBar .categories {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.filterBar .categories input {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  color: #929292;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.filterBar .categories input:hover {
  color: #080808;
}
.filterBar .filterContainer {
  padding-block: 2rem;
  padding-inline: 2rem;
  padding-right: 4rem;
  background-color: #080808;
  opacity: 0.98;
  position: absolute;
  right: 0;
  top: 2rem;
  display: flex;
  color: white;
  gap: 5rem;
}
.filterBar .filterContainer .sort, .filterBar .filterContainer .filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}
.filterBar .filterContainer .sort h6, .filterBar .filterContainer .filter h6 {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.filterBar .filterContainer .sort ul, .filterBar .filterContainer .filter ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.filterBar .filterContainer .sort li, .filterBar .filterContainer .filter li {
  color: #929292;
  font-weight: 300;
  font-size: 0.75rem;
  cursor: pointer;
}
.filterBar .filterContainer .sort li:hover, .filterBar .filterContainer .filter li:hover {
  color: white;
}
.filterBar .filterBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 6rem;
  height: 3rem;
}
.filterBar .filterBtn p {
  color: #080808;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.filterBar .filterBtn:hover .filterContainer {
  display: none;
}

.productCard {
  width: 15rem;
  height: 25rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}
.productCard .img {
  width: 100%;
  height: 70%;
  background-color: #f7f6f6;
  display: flex;
  flex-direction: column;
  position: relative;
}
.productCard .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.productCard .img .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-top: 1rem;
  position: absolute;
  z-index: 2;
}
.productCard .img .quickLook {
  position: absolute;
  z-index: 2;
  bottom: 0;
  display: flex;
  background-color: #080808;
  width: 70%;
  height: 2rem;
  align-self: center;
  color: white;
  justify-content: flex-start;
  padding-left: 1rem;
  align-items: center;
}
.productCard .img .quickLook .heart {
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */